<template>
  <div class="home">
    <h1>Détails d'article</h1>
    <h2>Article : {{article.title}}</h2>
    <br>Prix : {{article.price}}
    <br>Catégorie : {{article.category}}
    <br>Description : {{article.description}}
    <br>image : {{article.image}}
    <img :src="`${article.image}`"> 
  </div>
</template>

<script>
export default {
  name: "Details",
  
  props: {  },

  data() { return { 
    article: [],
    id: this.$route.params.id,
    }
  },

  // props: { },

  created() {
    // console.log("this.$route.XXX", this.id );
    this.fetchOne(this.id);
  },

  methods: {
    async fetchOne(articleId) {
      try {
        let response = await fetch('https://fakestoreapi.com/products/' + articleId);
        this.article = await response.json();
      } catch (error) {
        console.log("An API error : ", error)
      };
    // console.log("this.article", this.article);
    }
  }
};
</script>

<style scoped>
</style>