<template>
  <div class="home">
    <h1>Articles</h1>
    <div>
      <ul id="articles-list">
        <li v-for="(item, index) in articles" :key="item.id">
         [DevInfo : {{index}}] 
          <router-link :to="{name: 'details', params: { id: item.id }}" 
            class="nav-link" 
            href="#"
            >{{item.id}} - {{item.title}}
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",

  data() { return { articles: [] }},

  // props: { },

  created() {
    this.fetchAll();
  },

  methods: {
    // fetchAll() {
    //   fetch('https://fakestoreapi.com/products')
    //   .then(res => res.json())
    //   // .then(res => res.json().articles)
    //   // .then(json => console.log(json))
    //   // .then(payload => this.aricles.push(...payload))
    //   .then(payload => this.aricles = payload.articles)

    //   console.log("this.articles", this.articles);
    //   // console.log("articles", articles);
    // }
    async fetchAll() {
      try {
        let response = await fetch('https://fakestoreapi.com/products');
        this.articles = await response.json();
      } catch (error) {
        console.log("An API error : ", error)
      };
    console.log("this.articles", this.articles);
    }
  }
};

// const articles = [];


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .home {
    background-color: aliceblue;
  }
</style>