<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">E-Commerce en VueJS</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <router-link to="home" 
                class="nav-link" 
                active-class="active"
                href="#"
                >Accueil</router-link>
            </li>
            <b-nav-item-dropdown text="Nos produits">
            <b-dropdown-item href="#">Catégorie 1</b-dropdown-item>
            <b-dropdown-item href="#">Catégorie 2</b-dropdown-item>
            <b-dropdown-item href="#">Catégorie 3</b-dropdown-item>
            </b-nav-item-dropdown>
            <li class="nav-item">
              <router-link to="cart" 
                class="nav-link" 
                href="#"
                active-class="active"
                >Panier</router-link>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                active-class="active"
                href="#"
                >Mon compte</a>
            </li>          </ul>
          <div class="d-flex">
            <button class="btn btn-light ms-3">Se connecter</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
// import { defineComponent } from '@vue/composition-api'

export default {
  name: "Navigation",
};
</script>

<style>
</style>